//初期化
* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Noto Sans JP', sans-serif;
   background-color: #c0c0c0;
}

h2 {
  color: #364e96;　/*文字色*/
  padding: 0.5em 0;　/*上下の余白*/
  border-top: solid 3px #364e96;　/*上線*/
  border-bottom: solid 3px #364e96;　/*下線*/
}

header {
   padding: 30px auto 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #fff;
   display: flex;
   align-items: center;
}

.headerh1 {
   margin: 0; padding: 0;
   font-size: 20px;
}

a {	
  margin: 10px; 
  text-decoration: none;
   color: #4b4b4b;
}

ul {
   list-style: none;
   margin: 0;
   display: flex;
}

li {
   margin: 0 0 0 auto;
   font-size: 14px;
}

nav {
   margin:0;
}

.box{
    padding: 0 5%;
    margin: 0 5%;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box p {
    margin: 0; 
    padding: 0;
}

.first_header {
   color: fffafa;
   bottom: ;
   padding: 0.5em 0;
   margin: 45px 0;
   border-right: 3px #fffafa;
   border-left: 3px #fffafa;
}

img {
width: 75%;
}
